@charset "UTF-8";

/*Reset*/
*{box-sizing: border-box;}
html,body {margin: 0;}
div,section,header,footer,nav {
    float: left;
    display: block;
}

/********Grid***********/

/*Wrapper - Wraps around sections*/
.wrapper {
    width: 100%;
}

/*Div is always 100% width no matter the device*/
.four-column {
    width: 100%;
}

/*Div is always 75% width no matter the device*/
.three-column {
    width: 75%;
}

/*Div is always 50% width no matter the device*/
.two-column {
    width: 50%;
}

/*Div is always 25% width no matter the device*/
.one-column {
    width: 25%;
}

/*Div is 75% width on desktop and 100% on mobile*/
.three-four-column {
    width: 75%;
}

/*Div is 50% width on desktop and 100% on mobile*/
.two-four-column {
    width: 50%;
}

/*Div is 25% width on desktop and 100% on mobile*/
.one-four-column {
    width: 25%;
}

/********Padding Classes***********/

/*No Padding At All*/
.padding-zero {
    padding: 0;
}

/*1% padding*/
.padding-one {
    padding: 1%;
}

/*2% padding*/
.padding-two {
    padding: 2%;
}

/*3% padding*/
.padding-three {
    padding: 3%;
}

/*4% padding*/
.padding-four {
    padding: 4%;
}

/*5% padding*/
.padding-five {
    padding: 5%;
}

/*6% padding*/
.padding-six {
    padding: 6%;
}

/************Image Formating********/
/*Makes images fit proportionally into wherever they are*/
img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.center-img {
    display: block;
    margin: auto;
    margin-right: auto;
}

/*********Color Backgrounds**************/
.green-background {
    background-color: #3d9506;
}

.yellow-background {
    background-color: #f09633;
}

.red-background {
        background-color: #c33d18;
}

.white-background {
    background-color: #ffffff;
}

/****************Buttons**************/
/*Blue Button*/
.blue-btn {
    background-color: #244afb;
    color: #ffffff;
    font-size:16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding: 2% 3%;
    margin: 1% 2%;
    text-decoration:none;
}

/*Making Sure the Link Color Doesn't Change After You Visit The Page*/
.blue-btn:visited {
    color: #ffffff;
}

.black-btn {
    background-color: #000000;
    color: #ffffff;
    font-size:16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding: 2% 3%;
    margin: 1% 2%;
    text-decoration:none;
}

/*Making Sure the Link Color Doesn't Change After You Visit The Page*/
.black-btn:visited {
    color: #ffffff;
}

/************Store Specific CSS**********/

#storeslider.owl-carousel .owl-stage-outer,
#productslider.owl-carousel .owl-stage-outer,
#eventslider.owl-carousel .owl-stage-outer{
   float:none;
}

#storeslider.owl-carousel .item,
#productslider.owl-carousel .item,
#eventslider.owl-carousel .item{
   width:100%;
   text-align: center;
}


/*********Home Page Slideshow**********/

/*slideshow*/

.slider{
    width: 1000px;
    height: 400px;
    background: url("albany can code/cascadeview images/img10.jpg");
    animation: slide 25s infinite;
    margin: 100px auto;
    background-size: 100%;

}
@keyframes slide {
    10%{
        background: url("albany can code/cascadeview images/img10.jpg");
        background-size: 100%;

    }
    20%{
        background: url("albany can code/cascadeview images/img1.jpg");
        background-size: 100%;

    }
    30%{
        background: url("albany can code/cascadeview images/img3.jpg");
        background-size: 100%;

    }
    40%{
        background: url("albany can code/cascadeview images/img5.jpg");
        background-size: 100%;
    }
    50%{
        background: url("albany can code/cascadeview images/img7.jpg");
        background-size: 100%;

    }
    60%{
        background: url("albany can code/cascadeview images/img6.jpg");
        background-size: 100%;
    }
    70%{
        background: url("albany can code/cascadeview images/img9.jpg");
        background-size: 100%;

    }
    80%{
         background: url("albany can code/cascadeview images/img.jpg");
         background-size: 100%;
    }
    90%{
        background: url("albany can code/cascadeview images/img2.jpg");
        background-size: 100%;

    }
    100%{
        background: url("albany can code/cascadeview images/img10.jpg");
        background-size: 100%;
    }
}
.sale {
  float: left;
  width: 25%;
  padding: 15px;
}
.seasonal:after {
  content: "";
  display: table;
  clear: both;
}
.special {
  float: left;
  width: 50%;
  padding: 15px;
}
.specialevent:after {
  content: "";
  display: table;
  clear: both;
}

.images{
    width: 100%;
    height: 400px;
}

/************Logo and Header**********/
.logo {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 24px;
    text-align: left;
    margin: 10px 0;
    font-weight: 700;

}

.header nav{
   float: right;
}

.header nav ul li{
   list-style: none;
   text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.header nav ul li a{
   float: left;
   text-decoration: none;
}

.plain-text{
    color: #ffffff;
    text-decoration: none;
}

.header a:hover{
   cursor: grab;
}

/************Fonts***************/
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color:#3d9506;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color:#3d9506;
    margin: 5px 0;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color:#c33d18;
    margin: 5px 0;

}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#222222;
    margin: 5px 0;
}

.white-text {
    color: #ffffff;
}

.charcoal-text {
    color: #222222;
}

.center-text {
    text-align: center;
}

/*Owl Change*/
.owl-theme .owl-dots,
.owl-theme .owl-nav{
    float: none;
    margin: 10px 0;
}

/*********Hiding Images At Specific Screen Sizes**********/

/*Hides When on Desktop, Shows on Mobile*/
.desktop-hide {
    display: none;
}

/*Shows When on Desktop, Hides on Mobile*/
.mobile-hide {
    display: block;
}


@media (max-width:768px) {

    /*Div is 75% width on desktop and 100% on mobile*/
    .three-four-column {
        width: 100%;
    }

    /*Div is 50% width on desktop and 100% on mobile*/
    .two-four-column {
        width: 100%;
    }

    /*Div is 25% width on desktop and 100% on mobile*/
    .one-four-column {
        width: 100%;
    }

    /*Logo Centered on Mobile*/
    .logo {
        text-align: center;
        float: none;
    }

    /*Hides When on Desktop, Shows on Mobile*/
    .desktop-hide {
        display:block;
    }

    /*Shows When on Desktop, Hides on Mobile*/
    .mobile-hide {
        display: none;
    }

    /*Header Mobile Classes*/
    .header nav{
        text-align: center;
    }

    .header nav ul li {
      display: inline-block;
      padding: 3%;
  }

    .mobile-center {
    text-align:center;
    }

    /*Homepage Slideshow*/
    .sale {
      width: 100%;
      height:200px;
    }
}
